/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

    /* Create the caret/arrow with a unicode, and style it */
    .caret::before {
        content: "\25B6";
        color: black;
        display: inline-block;
        margin-right: 6px;
    }

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}

ul {
    list-style-type: none;
}
/* Hide the nested list */
.collapsed {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow*/
.expanded {
    display: block;
}


.item {
    margin-bottom: 5px;
    padding: 10px 15px;
    border: 1px solid #000000;
    cursor: pointer;
    color: white;
    background-color: #2F5170;
    border-radius: 5px;
    width: 300px;
}

.selected-item {
    filter: brightness(150%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}