.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul {
    list-style-type: none;
    padding-inline-start: 10px;
}

.treeview-container {
    overflow-y: auto;
    border-width: inherit;
}