@page "/"
<h2 class="text-center">Welcome to the EqComponents Test Webapp for Blazor on .Net 9.</h2>
<h4 class="text-center"> <b>IMPORTANT</b> These components are provided without warranty. Use them at your own risk.</h4>
<p class="text-center">Please feel free to contribute to the repository at <a href="https://github.com/EquiAvia/EqComponents">https://github.com/EquiAvia/EqComponents</a></p>
<hr />
    <h5>
        Current help needed
        </h5>
    <ul>
        <li>Adding drag and drop functionality to the EqTreeView component</li>
    </ul>
<hr/>
    <h5>
        Next planned component
    </h5>
    <ul>
        <li>Combobox which allows users to directly add items to the lookup source.</li>
    </ul>
